{{#extend "layout" page="home"
title="Base project for websites"
description="Base project for websites"
mainPage=false
}}
{{#content "body" }}
<div class="container px-0">
  <div class="g-0 row">
    <div class="col-12">
      <!-- The height is a placeholder for base purposes and should be removed -->
      <div id="pagetitle" style="height: 991px">
        <h1>Base project for websites test page</h1>
      </div>
    </div>
  </div>
</div>
{{/content}}
{{/extend}}